<li>
    In {{rental.city}}, {{rental.owner}} has {{rental.type}} for rental.
    {{#if isImageShowing}}
        <p><img src={{rental.image}} alt={{rental.type}} {{action 'imageHide'}}></p>
    {{else}}
        <button {{action 'imageShow'}}>Show Image</button>
    {{/if}}
    
    {{update-rental rental=rental update='update'}}

    <button {{action 'delete' rental}}> Delete Rental</button>
</li>